{% set title = 'Dashboard' %}
{% set filename = 'index.html' %}

{% extends 'src/layouts/master.html' %}

{% block styles %}
<link rel="stylesheet" href="/assets/scss/iconly.scss">
{% endblock %}

{% block content %}
<div id="dashboard-content" style="display:none;"> <!-- Content hidden by default -->
    <div class="page-content"> 
        <section class="row">
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-6 col-lg-12 col-md-6">
                        <div class="card">
                            <div class="card-body px-4 py-4">
                                <h3 class="text-muted font-semibold">Selamat Datang</h3>
                                <h6 class="font-extrabold mb-0">Di Sistem Monitoring Luna, Luna System merupakan Proyek yang dikembangkan untuk Memenuhi Tugas Akhir Teknik Komputer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6"></div>
                    <div class="col-6 col-lg-3 col-md-6"></div>
                </div>
                
            </div>
            <div class="col-12 col-lg-3">
                <div class="card">
                    <div class="card-body py-4 px-4">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-xl">
                                <img src="assets/static/images/faces/WhatsApp Image 2024-08-07 at 19.13.34.jpeg" alt="Face 1">
                            </div>
                            <div class="ms-3 name">
                                <h5 className="font-bold">Luna System</h5>
                                <h6 class="text-muted mb-0">CapstoneTA</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <iframe src="http://192.168.1.101:5601/goto/bc13fc00-5c9a-11ef-9985-27445cc6c4cf" height="1000" width="100%"></iframe>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block js %}
<!-- Need: Apexcharts -->
<script src="assets/extensions/apexcharts/apexcharts.min.js"></script>
<script src="assets/static/js/pages/dashboard.js"></script>
<script>
  // Function to check authentication
  function checkAuth() {
    // Check for auth token in localStorage or sessionStorage
    const token = localStorage.getItem('authToken'); // Or sessionStorage.getItem('authToken');
    if (!token) {
      // Redirect to login page if not authenticated
      window.location.href = '/login.html'; // Make sure this route matches the login route in your React app
    } else {
      // Display dashboard content if authenticated
      document.getElementById('dashboard-content').style.display = 'block';
    }
  }

  // Run the checkAuth function when the page loads
  document.addEventListener('DOMContentLoaded', checkAuth);
</script>
{% endblock %}
